p {
  font-weight: bold;
}

h1 {
  text-align: center;
}

#thanks {
  display: none;
}

/* ----- Form ------ */
form {
  padding: 25px;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
    padding-top: 25px;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.white-background {
  background-color: white;
}

.black-background {
  background-color: black;
  color: white;
}

.highlight_text {
  background-color: #d8d8d8;
  border: solid;
  padding: 5px;
}
